{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'blog/base.css' %}" />

    {% if title %}
    <title>Django blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
  </head>

  <body>
    <header>
      <img src="{% static 'blog/images.png' %}" class="logo" />
      <nav class="navbar">
        <ul class="nav-area">
          <li><a href="{% url 'blog-home' %}"> Home </a></li>
          <li><a href="{% url 'blog-about' %}"> About </a></li>
          <li><a href="#"> New User </a></li>
          <li><a href="#"> Login </a></li>
          <li><a href="#"> Admins </a></li>
        </ul>
      </nav>
      <a href="#" class="a.btn-area">Login</a>
    </header>

    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
